<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Purchases</title>
</head>
<body>
    <h1>Displays all the purchase items</h1>
    <ul>
        <% for(let purchase of purchaseitems) { %>
         <li id="id-name"><a href="/purchaseitems/<%=purchaseitems._id%>"><%= purchase.name %></a></li>           
        <% } %>
    </ul>
</body>
</html>
